{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "arrowParens": "always",
  "parser": "typescript",
  "plugins": ["prettier-plugin-organize-imports"],
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": [
        ".vscode/**/*.json",
        "tsconfig.*.json",
        "tsconfig.json"
      ],
      "options": {
        "parser": "json"
      }
    }
  ]
}
